@media screen and (max-width: 550px)
	.left-side
		flex-basis: 100%

	.right-side
		flex-basis: 100%
		padding-right: 0

	.header
		&_name
			font-size: 25px
		&_photo
			width: 100px
			height: 100px
		&_position
			font-size: 20px
	
	.contacts
		&_title
			font-size: 22px
		&_city,
		&_phone,
		&_email,
		&_github,
			font-size: 19px

	.about
		&_title
			font-size: 22px
		&_age, &_obj
			font-size: 19px

	.skills
		&_title
			font-size: 22px
		&_list
			&-item
				font-size: 19px

	.courses
		margin-bottom: 40px
		&_wrap
			display: flex
			flex-direction: row
			justify-content: space-around
			margin-left: -20px
		&_title
			font-size: 22px
		&_card
			&-title
				font-size: 18px
			&-course, &-date
				font-size: 19px

	.experience
		margin-bottom: 20px