$accent: #264EA6;
$regular: 'Open Sans Condensed', sans-serif;

*
	padding: 0
	margin: 0
	box-sizing: border-box

a
	text-decoration: none

li
	list-style-type: none

html
	background-color: #EDEEF0

.container
	max-width: 850px
	margin: 0 auto
	display: flex
	justify-content: space-between
	align-items: flex-start
	flex-wrap: wrap
	height: 100%
	background-color: #fff
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1)

.header
	flex-basis: 100%

.line1
	width: 100%
	height: 10px
	background-color: $accent;

.left-side
	flex-basis: 30%
	padding-left: 20px

.right-side
	display: flex
	flex-direction: column
	justify-content: flex-end
	align-items: flex-end
	flex-basis: 67%
	padding-right: 20px

.header
	font-family: $regular
	&_name
		font-size: 35px
		font-weight: bold
	&_position
		font-size: 23px
		text-align: center
		margin-top: 20px
	&_photo
		position: relative
		width: 150px
		height: 150px
		border-radius: 50%
		background: url('https://nikolaenkooleg.github.io/img/photo.jpg') no-repeat 50% 50%
		background-size: cover
		z-index: 3
		border: 4px solid #fff
		box-shadow: 0 0 0 4px $accent
	&_cnr
		display: flex
		align-items: center
		justify-content: space-around
		margin-top: 10px

.line2
	display: block
	margin: auto
	margin-top: 10px
	margin-bottom: 15px 
	width: 95%
	height: 3px
	background-color: #999;
	opacity: .5

.edu
	border-left: 3px solid #000
	width: 90%
	margin-bottom: 30px
	&_wrap
		&-title
			position: relative
			font-size: 23px
			margin: 10px 0
			font-family: $regular
			text-transform: uppercase
			margin-left: 50px
			&-circle
				position: absolute
				top: -10px
				left: -76px
				width: 50px
				height: 50px
				border-radius: 50%
				background-color: #000
		&-icon
			font-size: 25px
			position: absolute
			left: 13px
			top: 12px
			color: #fff
			z-index: 1
	&-card
		margin-left: 102px
		&_title
			position: relative
			font-size: 20px
			margin: 40px 0 10px 0
			font-family: $regular
			text-transform: uppercase
			font-weight: bold
			&-line1, &-line2
				position: absolute
				left: -105px
				top: 22px
				width: 80px
				height: 3px
				background-color: #000
				&:before
					content: '2015'
					position: absolute
					font-size: 20px
					font-weight: bold
					color: $accent
					top: -23px
					left: 40px
				&:after
					content: '2019'
					position: absolute
					font-size: 20px
					font-weight: bold
					color: $accent
					top: 1px
					left: 40px
			&-line2
				&:before
					content: '2010'
				&:after
					content: '2014'
		&_list
			&-item
				font-family: $regular
				font-size: 17px
				color: #333;
				padding-bottom: 3px

.experience
	border-left: 3px solid #000
	width: 90%
	&_cnr
		margin-left: 105px
	&_wrap
		&-icon
			position: absolute
			font-size: 25px
			left: 12px
			top: 10px
			color: #fff
			z-index: 1
		&-title
			position: relative
			font-size: 23px
			margin: 10px 0
			font-family: $regular
			text-transform: uppercase
			margin-left: 49px
			&-circle
				position: absolute
				top: -10px
				left: -75px
				width: 50px
				height: 50px
				border-radius: 50%
				display: block
				background-color: #000
	&_job
		position: relative
		font-size: 20px
		margin: 40px 0 10px 0
		font-family: $regular
		font-weight: bold
		&-line
			position: absolute
			width: 80px
			height: 3px
			background-color: #000
			top: 22px
			left: -108px
			&:before
				content: '2015'
				position: absolute
				font-size: 20px
				font-weight: bold
				color: $accent
				top: -23px
				left: 40px
			&:after
				content: 'Present'
				text-transform: uppercase
				position: absolute
				font-size: 16px
				font-weight: bold
				color: $accent
				top: 2px
				left: 25px
	&_position
		font-family: $regular
		font-size: 17px
		padding-bottom: 3px
		font-weight: bold
	&_list
		&-item
		font-family: $regular
		font-size: 17px
		color: #333
		padding: 0 0 3px 10px

.contacts
	&_title
		font-size: 21px
		margin: 10px 0
		font-family: $regular
		text-transform: uppercase
	&_list
		display: flex
		flex-direction: column
		&-item
			display: flex
			margin-top: 5px
			i
				color: $accent
				padding-top: 3px
	&_city,
	&_phone,
	&_email,
	&_github,
		font-family: $regular
		font-size: 17px
		color: #333
		padding-left: 8px

.about
	&_title
		font-size: 21px
		margin: 10px 0
		font-family: $regular
		text-transform: uppercase
	&_age, &_obj
		font-family: $regular
		font-size: 17px
		color: #333
	&_age
		margin-bottom: 5px

.skills
	&_title
		font-size: 23px
		margin: 10px 0
		font-family: $regular
		text-transform: uppercase
	&_slash
		color: $accent
		font-weight: bold
		font-size: 18px
		padding-right: 5px
	&_list
		&-item
			font-family: $regular
			font-size: 17px
			color: #333

.courses
	&_wrap
		display: flex
		flex-direction: column
	&_title
		font-size: 23px
		margin: 10px 0
		font-family: $regular
		text-transform: uppercase
	&_slash
		color: $accent
		font-weight: bold
		font-size: 18px
		padding-right: 5px
	&_card
		&-title
			font-size: 17px
			margin: 10px 0 5px 0
			font-family: $regular
			text-transform: uppercase
			font-weight: bold
		&-course, &-date
			font-size: 17px
			font-family: $regular
			padding-left: 15px

@import 'media'